{% extends 'base.html.twig' %}

{% block title %} (parent) | detail {% endblock %}


{% block body %}
    <h1>Détail d'un wish...  Titre de l'idée ici !</h1>
    <h1>{{ wish.title }}</h1>
    <p>Created by author {{ wish.author }} on {{ wish.dateCreated |date('d/m/Y') }}</p>
    <p>Category : {{ wish.category ? wish.category.name : 'Aucune categorie'}}</p>
    <p>description</p>
    <p>{{ wish.description }}</p>
{% endblock %}
